.serverlistview .serverlist.itemlist .itemlist-item {
  cursor: pointer;
}

.serverlistview .ip-address {
  line-height: 25px;
}

.serverlistview .ip-address {
  cursor: auto;
}

.serverlistview .connect-button {
  margin-top: 0px;
  float: right;
  display: inline-block;
  height: 25px;
}

.serverlistview .connect-button .btn {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
  height: 23px;
  width: 50px;
}

.serverlistview .connect-button:not(.view-button) .btn:hover {
    color: green;
}

.serverlistview .view-button .btn:hover {
    color: #DDC271;
}
