.serverlistview .serverlist.itemlist .itemlist-item {
  cursor: pointer;
}

.serverlistview .ip-address {
  line-height: 25px;
}

.serverlistview .connect-button {
  margin-top: 0px;
  float: right;
  display: inline-block;
  height: 25px;
}

.serverlistview .connect-button .btn {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
  height: 25px;
}

.serverlistview .connect-button .btn:hover {
  font-weight: bold;
  color: green;
}

.serverlistview .connect-button .btn.btn-warning:hover {
  color: grey;
}

.serverlistview .connect-button .btn.btn-danger:hover {
  color: black;
}


.serverlistview .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.serverlistview .modal-vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.serverlistview .modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    background-color: black;
    background-image: url(images/BgFeats.png);
    background-size: 100% 100%;
}

.serverlistview .modal:hover {
  color: white;
}

.serverlistview .modal-header .close {
  opacity: 0.5;
  color: white;
}

.serverlistview .modal-header .modal-server-name {
  color: #DDC271;
}

.serverlistview .modal-header .close:hover {
  opacity: 0.5;
  color: red;
  font-weight: bold;
}

.serverlistview .modal-footer {
  color: black;
}

.serverlistview .modal-footer .btn.btn-warning:hover {
  background-color: #EB9316;
  color: black;
  font-weight: bold;
}

.serverlistview .modal-footer .btn:hover {
  background-color: red;
  color: white;
  font-weight: bold;
}
