<div class="navigationbar">
  <div class="navigationbar-content">
    <div class="servername">
      {{navbarCtrl.server.name}}
    </div>

    <div class="navigationbar-buttons">
      <a
        ng-href="/server/{{navbarCtrl.serverId}}/"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'server'}">
          <div class="navigationbutton-text">HOME</div>
      </a>

      <a
        ng-href="/server/{{navbarCtrl.serverId}}/characters"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'player-list'}">
        <div class="navigationbutton-text">PLAYERS</div>
      </a>

      <a
        ng-href="/server/{{navbarCtrl.serverId}}/clans"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'clan-list'}">
        <div class="navigationbutton-text">CLANS</div>
      </a>
    </div>
  </div>
</div>
