<div class="navigationbar">
  <div class="thrallbrowser-logo">
    <a href="/">
      <span class="glyphicon glyphicon-arrow-left"></span>
      ThrallBrowser
    </a>
  </div>
  <div class="navigationbar-content">
    <a
      class="servername"
      ng-href="{{navbarCtrl.server.id|serverUrl}}">
      {{navbarCtrl.server.name | serverName}}
    </a>

    <div class="navigationbar-buttons">
      <a
        ng-href="/server/{{navbarCtrl.serverId}}/"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'server'}">
          <div class="navigationbutton-text">HOME</div>
      </a>

      <a
        ng-href="/server/{{navbarCtrl.serverId}}/characters"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'player-list'}">
        <div class="navigationbutton-text">PLAYERS</div>
      </a>

      <a
        ng-href="/server/{{navbarCtrl.serverId}}/clans"
        class="navigationbutton"
        ng-class="{'active': navbarCtrl.routeId == 'clan-list'}">
        <div class="navigationbutton-text">CLANS</div>
      </a>
    </div>
  </div>
</div>
