<server-navbar></server-navbar>
<div ng-show="serverCtrl.isLoading" class="spinner"></div>

<div ng-if="serverCtrl.fail">
  <div>Invalid Server ID, try again:</div>
  <a ng-href="/">Click to Return to Server List</a>
</div>

<div ng-if="!serverCtrl.isLoading && !serverCtrl.fail">
  <div class="container serverview">

    <div ng-if="serverCtrl.updateServerThrall" class="update-serverthrall">
      <a
        href="#"
        data-toggle="modal"
        data-target="#update-server-thrall">
        <img
          class="update-serverthrall-ribbon"
          src="images/update-serverthrall.png">
      </a>
    </div>
      <div ng-if="!serverCtrl.updateServerThrall && serverCtrl.updateConfigServerThrall" class="update-serverthrall">
      <a
        href="#"
        data-toggle="modal"
        data-target="#update-server-thrall">
        <img
          class="update-serverthrall-ribbon"
          src="images/update-config-serverthrall.png">
      </a>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="widget-container container-fluid server-information">
          <div class="row vertical-align">
            <div class="col-xs-6">
              <div class="widget-header">Server Information</div>
              <div class="push-top">{{serverCtrl.server.name}}</div>
              <div class="push-top">{{serverCtrl.server.character_count}} total characters created</div>
              <div>Last Server Wipe: {{serverCtrl.lastWipeDate | momentDate}}</div>

              <div ng-if="serverCtrl.server.ip_address">
                Direct Connect:
                <a ng-if="serverCtrl.server.query_port" ng-href="{{serverCtrl.server|connectUrl}}">
                  {{serverCtrl.server.ip_address + ':' + serverCtrl.server.query_port}}
                </a>
                <span ng-if="!serverCtrl.server.query_port">
                  {{serverCtrl.server.ip_address}}
                </span>
              </div>
              <div ng-if="serverCtrl.server.tick_rate">Server Max Tick Rate: {{serverCtrl.server.tick_rate}}</div>
            </div>

            <div class="col-xs-6">
              <a
                class="join-button"
                ng-if="serverCtrl.server.query_port"
                ng-href="{{serverCtrl.server|connectUrl}}">
                <button
                  class="btn btn-dark btn-large">
                  JOIN SERVER NOW
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="widget-container">
          {{serverCtrl.server.online_count}}
          <span ng-if="serverCtrl.server.max_players">
            / {{serverCtrl.server.max_players}}
          </span>
          Online Players

          <div class="container-fluid push-top playerlist itemlist">
            <div class="row">
              <div class="col-xs-7 itemlist-header character-name">
                <i class="fa fa-steam-square fa-lg"></i>Name
              </div>
              <div class="col-xs-5 itemlist-header">Clan</div>
            </div>
            <div class="row itemlist-item" ng-repeat="character in serverCtrl.online_characters | orderBy:'clan_name' track by character.id">
              <div class="col-xs-7 itemlist-value">
                <a ng-href="http://steamcommunity.com/profiles/{{character.steam_id}}">
                  <i class="fa fa-steam-square fa-lg"></i>
                </a>
                <div class="character-name">
                  <a ng-href="{{character.id|characterUrl:character.server_id}}">{{character.name}}</a>
                </div>
              </div>
              <div class="col-xs-5 itemlist-value clan-name">
                <a ng-href="{{character.clan_id|clanUrl:character.server_id}}">{{character.clan_name}}</a>
              </div>
            </div>
            <div class="row itemlist-empty" ng-show="!serverCtrl.online_characters.length">
              <div class="col-xs-12">Nobody is currently online.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="widget-container active-clans-widget">
          Clans by Members Online in Last 7 Days
          <div class="container-fluid push-top clanlist itemlist">
            <div class="row">
              <div class="col-xs-10 itemlist-header">Name</div>
              <div class="col-xs-2 itemlist-header">Count</div>
            </div>

            <div class="row itemlist-item" ng-repeat="clan in serverCtrl.clans | orderBy:['-active_count', 'name'] track by clan.id">
              <div class="col-xs-10 itemlist-value">
                <a ng-href="{{clan.id|clanUrl:clan.server_id}}">{{clan.name}}</a>
              </div>
              <div class="col-xs-2 itemlist-value">{{clan.active_count}}</div>
            </div>

            <div class="row itemlist-empty" ng-show="!serverCtrl.clans.length">
              <div class="col-xs-12">There are no clans on this server yet.</div>
            </div>

            <div class="row see-all">
              <div class="col-xs-12">
                <a ng-href="/server/{{serverCtrl.serverId}}/clans">
                  <button class="btn btn-dark">See All Clans</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 'Update ServerThrall' Modal -->
    <div
      class="modal fade"
      id="update-server-thrall"
      tabindex="-1"
      role="dialog"
      aria-labelledby="update-server-thrallTitle"
      aria-hidden="true">
      <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-vertical-align-center" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              Update ServerThrall<span ng-if="!serverCtrl.updateServerThrall && serverCtrl.updateConfigServerThrall"> config </span> for <span class="modal-server-name">{{serverCtrl.server.name | serverName}}</span>
            </div>

            <div class="modal-body">
              <div ng-if="serverCtrl.updateServerThrall"> <!-- Update ServerThrall -->
                This server is using an outdated version of ServerThrall.
                To take advantage of all ThrallBrowser has to offer, the admin should update to the
                <a ng-href="https://github.com/NullSoldier/serverthrall/blob/master/README.md">
                  latest version of ServerThrall
                </a>.
              </div>
              <div ng-if="!serverCtrl.updateServerThrall && serverCtrl.updateConfigServerThrall"> <!-- Update Configuration -->
                This server is missing awesome features!  This is due to empty or incorrect fields in the server's config.  Missing features could include:
                Join buttons, max player slots, server tick rate, etc. Server admin should refer to the
                <a ng-href="https://github.com/NullSoldier/serverthrall/blob/master/README.md#configuration-for-plugins">
                  ServerThrall README
                </a> for more information.  Still need help? Contact us on <a ng-href="https://discord.gg/5dK2TdN">Discord</a>!
              </div>
            </div>

            <div class="modal-footer">
              <a
                ng-href="https://github.com/NullSoldier/serverthrall/blob/master/README.md">
                <button type="button" class="btn btn-primary">Upgrade ServerThrall</button>
              </a>
              <a
                ng-href="https://discord.gg/5dK2TdN">
                <button type="button" class="btn btn-warning">Join ServerThrall Discord</button>
              </a>
              <button type="button" class="btn" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
