.serverview {
  width: 1024px;
}

.serverview .update-serverthrall {
  position: relative;
}

.serverview .update-serverthrall-ribbon {
  position: absolute;
  top: 20px;
  right: 0;
  border: 0;
  z-index: 1;
}

.serverview.container {
  padding-left: 0;
  padding-right: 0;
}

.serverview .server-information {
  min-height: 155px;
}

.serverview .vertical-align {
  display: flex;
  align-items: center;
}

.serverview .widget-title {
  color: #DDC271;
}

.serverview .vertical-align {
  display: flex;
  align-items: center;
}

.serverview .playerlist.itemlist .itemlist-header.character-name .fa-steam-square {
  margin-right: 5px;
}

.serverview .playerlist.itemlist .itemlist-item .character-name {
  display: inline-block;
  margin-left: 5px;
}
