<div class="bootstrap-iso">
<server-navbar></server-navbar>
<div ng-show="serverCtrl.isLoading" class="spinner"></div>

<div ng-if="serverCtrl.fail">
  <div>Invalid Server ID, try again:</div>
  <a ng-href="/">Click to Return to Server List</a>
</div>

<div ng-if="!serverCtrl.isLoading && !serverCtrl.fail">
  <div class="container serverview">
    <div ng-if="serverCtrl.updateServerThrall" class="update-serverthrall">
      <a href="https://github.com/NullSoldier/serverthrall/blob/master/README.md">
        <img class="update-serverthrall-ribbon" src="images/update-serverthrall.png" alt="Update ServerThrall!">
      </a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="widget-container itemlist container-fluid server-information">
          <div class="row vertical-align">
            <div class="col-xs-6">
              <div class="itemlist-header">Server Information</div>
              <div>{{serverCtrl.server.character_count}} total characters created</div>
              <div>Last Server Wipe: {{serverCtrl.lastWipeDate | momentDate}}</div>

              <div ng-if="serverCtrl.server.ip_address">
                Direct Connect:
                <a ng-if="serverCtrl.server.query_port" ng-href="{{serverCtrl.server|connectUrl}}">
                  {{serverCtrl.server.ip_address + ':' + serverCtrl.server.query_port}}
                </a>
                <span ng-if="!serverCtrl.server.query_port">
                  {{serverCtrl.server.ip_address}}
                </span>
              </div>
            </div>

            <div class="col-xs-6">
                <a
                  class="join-button"
                  ng-if="serverCtrl.server.query_port"
                  ng-href="{{serverCtrl.server|connectUrl}}">
                  <button
                    class="button button-large">
                    JOIN SERVER NOW
                  </button>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="widget-container">
          {{serverCtrl.server.online_count}}
          <span ng-if="serverCtrl.server.max_players">
            / {{serverCtrl.server.max_players}}
          </span>
          Online Players

          <div class="container-fluid push-top playerlist itemlist">
            <div class="row">
              <div class="col-xs-7 itemlist-header character-name">
                <i class="fa fa-steam-square fa-lg"></i>Name
              </div>
              <div class="col-xs-5 itemlist-header">Clan</div>
            </div>
            <div class="row itemlist-item" ng-repeat="character in serverCtrl.online_characters | orderBy:'clan_name' track by character.id">
              <div class="col-xs-7 itemlist-value">
                <a ng-href="http://steamcommunity.com/profiles/{{character.steam_id}}">
                  <i class="fa fa-steam-square fa-lg"></i>
                </a>
                <div class="character-name">
                  <a ng-href="{{character.id|characterUrl:character.server_id}}">{{character.name}}</a>
                </div>
              </div>
              <div class="col-xs-5 itemlist-value clan-name">
                <a ng-href="{{character.clan_id|clanUrl:character.server_id}}">{{character.clan_name}}</a>
              </div>
            </div>
            <div class="row itemlist-empty" ng-show="!serverCtrl.online_characters.length">
              <div class="col-xs-12">Nobody is currently online.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <div class="widget-container">
          Clans by Member Count
          <div class="container-fluid push-top clanlist itemlist">
            <div class="row">
              <div class="col-xs-10 itemlist-header">Name</div>
              <div class="col-xs-2 itemlist-header">Count</div>
            </div>
            <div class="row itemlist-item" ng-repeat="clan in serverCtrl.clans | orderBy:['-character_count', 'name'] track by clan.id">
              <div class="col-xs-10 itemlist-value">
                <a ng-href="{{clan.id|clanUrl:clan.server_id}}">{{clan.name}}</a>
              </div>
              <div class="col-xs-2 itemlist-value">{{clan.character_count}}</div>
            </div>
            <div class="row itemlist-empty" ng-show="!serverCtrl.clans.length">
              <div class="col-xs-12">There are no clans on this server yet.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
