@import url('https://fonts.googleapis.com/css?family=Jomhuria');

body {
  background-color: black;
  margin: auto;
  font-family: Trebuchet MS;
}

table {
  background-color: #1b1b1b;
  width: 100%;
  border-spacing: 0px 1px;
}

th {
  background-color: black;
  color: #ddc271;
  font-size: 18px;
}

th#name{
  width:30%;
}
th#level{
  width:7%;
  text-align: left;
}
th#online{
  width:14%;
  text-align: left;
}
th#steam{
  width:21%;
  text-align: left;
}
th#conan{
  width:7%;
}
th#server{
  width:7%;
}
th#xyz{
  width:25%;
  text-align: left;
}

a {
  color:white;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  font-size: 17px;
  color: #ddc271;
}

td {
  color: white;
}

td:hover {
  color: #ddc271;
  cursor: default;
}

td:hover a {
  color: #ddc271;
  display: block;

}

tr.highlight:hover {
  font-size:17px;
  background-color:black;
  font-weight: bold;
}

header {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #1b1b1b;
  color: #ddc271;
  font-family: 'Jomhuria', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  padding-top: .2em;
}

/* Lightweight spinner from https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}