@import url('https://fonts.googleapis.com/css?family=Jomhuria');
body {
  background-color: black;
  margin: auto;
  font-family: Trebuchet MS;
  color: white;
  font-size: 16px;
}
header {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: #1b1b1b;
  color: #ddc271;
  font-family: 'Jomhuria', sans-serif;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  padding-top: .2em;
}
a {
  color:white;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  font-size: 17px;
  color: #ddc271;
  text-decoration: none;
}
table {
  width: 100%;
  border-spacing: 0px 1px;
  -webkit-border-vertical-spacing: 0px;
}
tbody {
  background-color: #1b1b1b;
}
/*tbody, thead {
  display:block;
}
thead {
  background-color: black;
}
tbody {
  background-color: #1b1b1b;
  overflow-y: scroll;
  height:auto;
  max-height: 500px;
}*/
th {
  background-color: black;
  color: #ddc271;
  font-size: 18px;
  cursor: default;
}
td {
  color: white;
}
td.name a {
  display: block;
}
td.level:hover,
td.online:hover {
  color: #ddc271;
  cursor: default;
}
tr.highlight:hover {
  font-size:17px;
  background-color:black;
  font-weight: bold;
}
th .fa-steam-square {
  font-size: 1.4em;
}
td .fa-steam-square {
  color: grey;
}
td .fa-steam-square:hover {
  color: #ddc271;
}
/* Lightweight spinner from https://stephanwagner.me/only-css-loading-spinner */
@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spinner .6s linear infinite;
}
.steam{
  width:10%;
  text-align: center;
}
.name{
  width:40%;
  text-align:left;
}
.level{
  width:25%;
  text-align: left;
}
.online{
  width:25%;
  text-align: left;
}