<header>
  WELCOME TO THRALL BROWSER
</header>

<div class="container top-container">
  <div class="row">
    <div class="col-md-12 server-list-stick-top">
      <p class="text-center thrall-heading">
      Select a Conan Exiles server below
      </p>
    </div>

    <div class="col-md-12 text-center">
    <label class="go-server">
      Enter your serverthrall server ID:
    <input type="text" class="server-input" ng-model="the.serverId" min="0" step="1" required>

    <button class="btn btn-warning go-server" title="Go to Server #{{the.serverId}}" ng-click="the.goServer()">Go!</button>
    </label>

      <br/>- or -<br/>
      Choose from the live server list below (coming soon...)
    </div>

    <div class="col-md-12 text-center">
    <br/>
      <i>(Try inputting server ID 5 (server name: 'Age of Exiles') for a nice <a ng-href="/server/5"><u>live example</u></a>)</i>
    </div>

            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>

  </div>
</div>