<header>
  WELCOME TO THRALL BROWSER
</header>

<div class="container top-container">
  <div class="row">
    <div class="col-xl-12 server-list-stick-top">
      <p class="text-center thrall-heading">
      Select a Conan Exiles server below
      </p>
    </div>

    <div class="col-xl-12 text-center">
    <label class="go-server">
      Enter your serverthrall server ID:
    <input type="text" class="search-input" ng-model="the.serverId" placeholder="¯\_(ツ)_/¯" required>

    <button class="btn btn-warning go-server" title="Go to Server #{{the.serverId}}" ng-click="the.goServer()">Go!</button>
    </label>

      <br/>- or -<br/>
      Choose from the live server list below (coming soon...)
    </div>

            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>

  </div>
</div>
