<header>
  WELCOME TO THRALL BROWSER
</header>

<div class="container top-container">
  <div class="row">
    <div class="col-md-12 server-list-stick-top">
      <p class="text-center thrall-heading">
      Select a thrallserver below
      </p>
    </div>

    <div class="col-md-12 text-center">
    <label class="go-server">
      Enter your server ID:
    <input type="text" class="server-input" ng-model="the.serverId" min="0" step="1" required>

    <button class="btn btn-warning go-server" title="Go to Server #{{the.serverId}}" ng-click="the.goServer()">Go!</button>
    </label>

      <br/>- or -<br/>
      Choose from the server list below (coming soon...)
    </div>

    <div class="col-md-12 text-center">
    <br/>
      (Go to server Id 5 (server name: 'Conan Exiles') for a live example)
    </div>

            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>

  </div>
</div>