<server-navbar></server-navbar>

<div class="main-container clanlistview">
  <div ng-show="clanListCtrl.isLoading" class="spinner"></div>

  <div ng-if="!clanListCtrl.isLoading && clanListCtrl.loadingError">
    Invalid Server ID, <a ng-href="/">click here to Return to Server List</a>
  </div>

  <div ng-if="!clanListCtrl.isLoading && !clanListCtrl.loadingError">
    <input
      type="text"
      ng-model="nameFilter.name"
      class="search-input clanname-search"
      placeholder="Search for a clan name...">

    <div class="container-fluid push-top clanlist itemlist">
      <div class="row">
        <div class="col-xs-5 itemlist-header non-interactive" ng-click="clanListCtrl.sortBy('name')">
          Name
          <span
            ng-show="clanListCtrl.currentSort == 'name'"
            class="glyphicon"
            ng-class="{'glyphicon-menu-down': clanListCtrl.currentSortAsc, 'glyphicon-menu-up': !clanListCtrl.currentSortAsc}">
          </span>
        </div>

        <div class="col-xs-5 itemlist-header non-interactive" ng-click="clanListCtrl.sortBy('owner_name')">
          Owner Name
          <span
            ng-show="clanListCtrl.currentSort == 'owner_name'"
            class="glyphicon"
            ng-class="{'glyphicon-menu-down': clanListCtrl.currentSortAsc, 'glyphicon-menu-up': !clanListCtrl.currentSortAsc}">
          </span>
        </div>

        <div class="col-xs-2 itemlist-header character-count non-interactive" ng-click="clanListCtrl.sortBy('character_count')">
          Members
          <span
            ng-show="clanListCtrl.currentSort == 'character_count'"
            class="glyphicon"
            ng-class="{'glyphicon-menu-down': clanListCtrl.currentSortAsc, 'glyphicon-menu-up': !clanListCtrl.currentSortAsc}">
          </span>
        </div>
      </div>

      <div
        class="row itemlist-item"
        ng-repeat="clan in clanListCtrl.clans | filter:nameFilter | orderBy:clanListCtrl.orderBy track by clan.id">
        <div class="col-xs-5">{{clan.name}}</div>
        <div class="col-xs-5">{{clan.owner_name}}</div>
        <div class="col-xs-2 character-count">{{clan.character_count}}</div>
      </div>

      <div class="row itemlist-empty" ng-show="!clanListCtrl.clans.length">
        <div class="col-xs-12">No clans on this server yet.</div>
      </div>
    </div>
  </div>
</div>
