<div ng-if="the.fail">
  <a>Incorrect Character ID, try again:
  <br/>Return to Index</a>
</div>

<div ng-show="the.isloading" class="test spinner"></div>

<div ng-if="!the.isloading && !the.fail">
  <header>{{the.char.name}} (ID # {{the.char.id}})</header>

  <div>
    <table class="table table-responsive character-sheet">
        <tr><th>Username:</th>  <td>{{the.char.name}}</td></tr>
        <tr><th>Character created:</th> <td>{{the.char.created}}</td></tr>
        <tr><th>Character's level:</th>  <td>{{the.char.level}}</td></tr>
        <tr><th>Character's sex:</th><td></td></tr>
        <tr><th>Online Status:</th> <td>{{the.char.is_online}}</td></tr>
        <tr><th>Last Online:</th>  <td>{{the.char | isonline}}</td></tr>
        <tr><th>Last killed by:</th>  <td>"{{the.char.last_killed_by}}"</td></tr>
        <tr><th>Unique ID:</th>  <td>{{the.char.id}}</td></tr>
        <tr><th>Conan ID:</th>  <td>{{the.char.conan_id}}</td></tr>
        <tr><th>Server ID:</th>  <td>{{the.char.server_id}}</td></tr>
        <tr><th>Server Name:</th><td></td></tr>
        <tr><th>Clan Name:</th><td></td></tr>
        <tr><th>Steam ID/Profile:</th> <td>{{the.char.steam_id}}</td></tr>
        <tr><th>X-coordinate:</th> <td>{{the.char.x}}</td></tr>
        <tr><th>Y-coordinate:</th> <td>{{the.char.y}}</td></tr>
        <tr><th>Z-coordinate:</th> <td>{{the.char.z}}</td></tr>
    </table>
  </div>
</div>