<header>
  WELCOME TO THRALL BROWSER
</header>

<div class="container top-container no-rel">
  <div class="row">
    <div class="col-md-12 server-list-stick-top">
      <p class="text-center thrall-heading">
      Select a thrallserver below
      </p>
    </div>

    <div class="col-md-12 text-center">
      Enter your server ID:
    <input type="text" class="server-input" ng-model="the.serverId" min="0" step="1" required>
    <button class="btn btn-warning" title="Go to Server" ng-click="the.goServer()">Go!</button>


      <br/>- or -<br/>
      Choose from the server list below (coming soon...)
    </div>

            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>
            <br/><br/><br/><br/>

  </div>
</div>